<!-- For Admin to create new airplane -->
<hr><hr>

<%= form_tag flights_path, method: "post" do %>
  <div id="fligts form_item">
    <label>Flight Number</label>
    <input type="text" name="flight_number"/>
  </div>
  <div id="flights form_item">
    <label>Date</label>
    <input  type="date" min="2017-01-01" max="2017-12-31" value="<%= Time.now.to_date %>" name="date"/>
  </div>
  <div id="flights form_item">
    <label>Direction</label>
    <input type="text" name="departure"/>
    <span> -> </span>
    <input type="text" name="destination"/>
  </div>
  <div id="flights form_item">
    <label>Airplane</label>
    <select name="airplane_id">
      <% @airplanes.each do |airplane| %>
        <option value="<%= airplane.id %>"><%= airplane.name %></option>
      <% end %>
    </select>
  </div>
  <div id="flights form_item">
    <input type="submit" value="Save"/>
  </div>
<% end %>

<hr><hr>
<!-- List all existing airplanes -->

<% @flights.each do |flight| %>
  <div class="airplane_list_admin">
    <div>
      <span>Flight Number: </span>
      <span><%= flight.flight_number %></span>
    </div>
    <div>
      <span>Date: </span>
      <span><%= flight.date %></span>
    </div>
    <div>
      <span>Direction: </span>
      <span><%= flight.departure %> -> <%= flight.destination %></span>
    </div>
    <div>
      <span>Airplane Name: </span>
      <span><%= @airplanes.find(flight.airplane_id).name %></span>
    </div>
    <hr>
  </div>

<% end %>
